@font-face { 
    font-family: 'GothamPro'; 
    src: url('../fonts/GothamPro.eot'); 
    src: url('../fonts/GothamPro.eot?iefix') format('eot'),
         url('../fonts/GothamPro.woff') format('woff'), 
         url('../fonts/GothamPro.ttf')  format('truetype');
    font-weight: normal; 
    font-style: normal; 
  }
@font-face { 
    font-family: 'GothamPro'; 
    src: url('../fonts/GothamPro-Bold.eot'); 
    src: url('../fonts/GothamPro-Bold.eot?iefix') format('eot'),
         url('../fonts/GothamPro-Bold.woff') format('woff'), 
         url('../fonts/GothamPro-Bold.ttf')  format('truetype');
    font-weight: bold; 
    font-style: normal; 
  }
@font-face { 
    font-family: 'GothamPro'; 
    src: url('../fonts/GothamPro-Light.eot'); 
    src: url('../fonts/GothamPro-Light.eot?iefix') format('eot'),
         url('../fonts/GothamPro-Light.woff') format('woff'), 
         url('../fonts/GothamPro-Light.ttf')  format('truetype');
    font-weight: 300; 
    font-style: normal; 
  }
@font-face { 
    font-family: 'GothamPro'; 
    src: url('../fonts/GothamPro-Medium.eot'); 
    src: url('../fonts/GothamPro-Medium.eot?iefix') format('eot'),
         url('../fonts/GothamPro-Medium.woff') format('woff'), 
         url('../fonts/GothamPro-Medium.ttf')  format('truetype');
    font-weight: 500; 
    font-style: normal; 
  }
* {
    box-sizing: border-box;
}
html {
    font-family: 'GothamPro';
    font-size: 14px;
    font-weight: 500;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container {
    max-width: 866px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -moz-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
}
.header-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.header-nav {
    width: 100%;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
.header-nav.menu-open {
    left: 0;
}
.nav-list {
    padding: 0 10px;
    width: 872px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item a{
    color: #ffffff;
    transition: all .3s;
}
.nav-item a:hover{
    color: #bebebe;
}
.nav-item {
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    position: relative;
    cursor: pointer;
}
.tooltip-wrapper {
    display: none;
    position: absolute;
    z-index: 5;
    height: 135px;
    align-items: flex-end;
    left: -48px;
    top: 13px;
}
.tooltip {
    width: 163px;
    height: 100px;
    background-color: #813bb5;
    padding: 19px;
    padding-top: 15px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    position: relative;
}
.tooltip::before {
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #813bb5;
    position: absolute;
    left: 73px;
    top: -7px;
}
.nav-item:hover .tooltip-wrapper {
    display: flex;  
}
.nav-item:last-child {
    margin-right: 0;
}
.burger-menu {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 30px;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.burger-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all .3s
}
.active .burger-line:first-child {
    transform-origin: center;
    position: relative;
    top: 10px;
    transform: rotate(45deg);
}
.active .burger-line:last-child {
    transform-origin: center;
    position: relative;
    bottom: 10px;
    transform: rotate(-45deg);
}
.active .burger-line:nth-child(2) {
    width: 0;
    opacity: 0;
}
.slider-wrapper {
    margin-bottom: 29px;
}
.slider{
    width: 100%;
    position: relative;
}
.slider-item {
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slick-prev,
.slick-next {
    position: absolute;
    width: 24px;
    height: 42px;
    font-size: 0;
    padding: 0;
    border: none;
    background: transparent;
    z-index: 5;
}
.slick-prev,
.slick-next {
    cursor: pointer;
}
.slick-prev {
    left: 22px;
    top: 242px;
}
.slick-next {
    right: 26px;
    top: 242px;
}
.slick-prev::before,
.slick-prev::after,
.slick-next::before,
.slick-next::after {
    content: "";
    width: 3px;
    height: 12px;
    position: absolute;
    background: #808080;
    border-radius: 2px;  
    z-index: 5;
    transition: all .3s;
}
.slick-prev:hover:before,
.slick-prev:hover::after,
.slick-next:hover::before,
.slick-next:hover::after{
    background: #000;
}
.slick-prev::before,
.slick-prev::after,
.slick-next::before,
.slick-next::after {
    top: 13px;
}
.slick-prev::before,
.slick-prev::after {
    left: 4px;
}
.slick-next::before,
.slick-next::after {
    right: 10px;
}
.slick-prev::before {
    transform: translate(7px, -4px) rotate(45deg)
}
.slick-prev::after {
    transform: translate(7px, 4px) rotate(-45deg)
}
.slick-next::before {
    transform: translate(0px, 4px) rotate(45deg)
}
.slick-next::after {
    transform: translate(0px, -4px) rotate(-45deg)
}
.slick-dots {
    margin-top: -48px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.slick-dots li {
    margin-right: 11px;
}
.slick-dots li:last-child {
    margin-right: 0;
}
.slick-dots li button{
    width: 14px;
    height: 14px;
    font-size: 0;
    padding: 0;
    border: none;
    background: transparent;
    z-index: 5;
    position: relative;
    cursor: pointer;
}
.slick-dots li button::before {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    border: 3px solid #7d7d7d;
    border-radius: 50%;
    z-index: 5;
    top: 0;
    left: 0;
    transition: all .3s;
}
.slick-dots li button:hover::before {
    border-color: #333333;
    background: #333333;
}
.slick-active button::before {
    background: #7d7d7d;
}
.slide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 134px;
}
.product-title,
.product {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
}
.product-title {
    font-weight: 500;
}
.product {
    font-weight: 300;
}
.details {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 38px;
    background: #333333;
    bottom: 132px;
    
}
.details p {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 500;
}
.services {
    margin-bottom: 13px;
}
.section-title-wrapper {
    height: 114px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.section-title {
    position: relative;
    font-size: 32px;
    line-height: 17px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: -1.5px;
}
.section-title::before,
.section-title::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #2c2c2c;
    position: absolute;
    top: 8px;
}
.section-title::before {
    left: -78px;
}
.section-title::after {
    right: -75px;
}
.section-services-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 370px;
}
.services-wrapper {
    width: 50%;
    height: 370px;
}
.services-inner {
    width: 100%;
    height: 100%;
    transition: all .8s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.services-wrapper:first-child {
    margin-right: 1px;
}
.services-wrapper:last-child {
    margin-left: 1px;
}
.services-wrapper:hover .services-text {
    margin-bottom: 175px;
}
.services-wrapper:hover .services-inner {
    background-color: rgba(0, 0, 0, 0.5);
}
.products {
    width: 100%;
    height: 100%;
    background-image: url(../assets/products.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.services-text {
    margin-bottom: 52px;
    margin-left: -6px;
    font-size: 32px;
    line-height: 20px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .8s;
}
.education {
    width: 100%;
    height: 100%;
    background-image: url(../assets/education.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.news {
    margin-bottom: 50px;
}
.section-news-inner {
    max-width: 846px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-card-container {
    width: 260px;
    height: 260px;
    margin-bottom: 26px;
}
.news-card-container:hover .news-card {
    background-color: rgba(0, 0, 0, 0.5);
}
.news-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all .5s;
}
.news-info {
    margin: 14px;
    color: #fff;
}
.news-date {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 6px;
}
.news-title {
    font-size: 14px;
    line-height: 18px;
}
.section-table {
    height: 324px;
    background-color: #f5f5f5;
    padding-top: 72px;
}
.table {
    width: 100%;
    height: 188px;
    border-right: 1px solid #dde7ef;
    background-color: #fff;
}
td:nth-child(3),
td:nth-child(4),
th:nth-child(3),
th:nth-child(4) {
    border-left: 1px solid #dde7ef;
}
th, td {
    border-bottom: 1px solid #dde7ef;
    vertical-align: middle;
    text-align: end;
    padding: 0 26px 0 15px;
    color: #333333;
}
th:nth-child(2),
td:nth-child(2) {
    width: 210px;
}
th:nth-child(3),
td:nth-child(3) {
    width: 200px;
}
tr:last-child th:first-child {
    border-bottom: none;
}
th {
    border-top: 1px solid #dde7ef;
    color: #007ae4;
}
tr:first-child th:first-child {
    border-top: none;
}
th:first-child {
    width: 220px;
    background-color: #d5d5d5;
    color: #000;
    text-align: left;
}
tr:last-child {
    height: 54px;
}
.floats {
    min-height: 464px;
    padding-top: 72px;
}
.floats-img1 {
    float: left;
    margin-right: 26px;
    margin-bottom: 10px;
}
.floats-img2 {
    float: right;
    margin-left: 26px;
    margin-bottom: 10px;
}
.floats-text {
    padding-top: 14px;
    color: #333333;
    font-size:  14px;
    line-height: 21px;
} 
.tabs {
    padding: 72px 0;
    background-color: #f5f5f5;
}
.tabs-body {
    display: flex;
    position: relative;
}
.tabs-wrapper {
    flex: 1 0 33.333%;
}
.tabs-block {
    display: none;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
#tab-btn-1:checked~#tab_1,
#tab-btn-2:checked~#tab_2,
#tab-btn-3:checked~#tab_3 {
    display: block;
    position: relative;
    width: 300%;
}
#tab-btn-1:checked~#tab_1 {
    left: 0;
}
#tab-btn-2:checked~#tab_2 {
    left: -100%;
}
#tab-btn-3:checked~#tab_3 {
    left: -200%;
}
.tab-item {
    display: none;
}
.tab-item-label {
    height: 50px;
    flex: 1 0 33.333%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 32px;
    transition: all .3s;
}
#tab-btn-1+.tab-item-label {
    border-left: 1px solid #dddddd;
}
#tab-btn-3+.tab-item-label {
    border-right: 1px solid #dddddd;
}
#tab-btn-2+.tab-item-label::before,
#tab-btn-3+.tab-item-label::before {
    content: "|";
    font-size: 26px;
    color: #dddddd;
    position: absolute;
    left: -5px;
    top: 13px;
}
#tab-btn-1:checked+.tab-item-label,
#tab-btn-2:checked+.tab-item-label,
#tab-btn-3:checked+.tab-item-label {
    transition: none;
    pointer-events: none;
    color: #584edb;
    border-top: 1px solid #584edb;
    border-bottom: 1px solid #584edb;
}
#tab-btn-1:hover+.tab-item-label,
#tab-btn-2:hover+.tab-item-label,
#tab-btn-3:hover+.tab-item-label {
    color: rgb(131,58,180);
}
.scroll-btn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 2px;
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 2px solid #666666;
    border-radius: 3px;
    background-color: #fff;
    background-image: url(../assets/scroll-btn.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 48% 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all .3s;
}
.scroll-btn:hover {
    transform: translate(-50%, -50%) scale(1.2);
    border: 2px solid #666666;
}
.footer {
    height: 60px;
}
.footer-inner {
    width: 100%;
    height: 100%;
}
.social-list {
    display: flex;
    list-style: none;
    height: 100%;
}
.social-list-item {
    flex: 1 0 33.333%;
    display: flex;
    justify-content: center;
    height: 60px;
}
.footer-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    position: relative;
    letter-spacing: -0.5px;
}
.footer-link::before {
    content: "";
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.vk {
    background: #45668e;   
}
.vk-link {
    left: 22px;
}
.vk-link::before {
    background-image: url(../assets/vk.png);
    left: -46px;
    top: 20px;
}
.fb {
    background: #3b5998;
}
.fb-link {
    left: 10px;
}
.fb-link::before {
    background-image: url(../assets/fb.png);
    left: -34px;
    top: 14px;;
}
.inst {
    background: -webkit-linear-gradient(180deg, rgb(88, 81, 219), rgb(229, 18, 131));
}
.inst-link {
    left: 28px;
    top: -2px;
}
.inst-link::before {
    background-image: url(../assets/inst.png);
    left: -44px;
    top: 18px;
    width: 24px;   
}
.pop-up-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 10px;
}
.pop-up {
    max-width: 615px;
    min-height: 415px;
    margin: 0 auto;
    margin-top: 190px;
    background-color: #fff;
    position: relative;
    padding: 34px 40px 58px 40px;
    display: flex;
    justify-content: center;
}
.reg-form {
    height: 100%;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.reg-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.reg-info {
    min-width: 75%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 18px;
}
.org-name,
.comment {
    width: 115%;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    padding: 17px;
    font-size: 14px;
    line-height: 22px;
    color: #808080;
    letter-spacing: 1px;
    outline: none;
}
.org-name:focus,
.comment:focus {
    border-color: #45668e;
}
.org-name {
    height: 40px;
    margin-bottom: 20px;
}
.comment {
    height: 105px;
    margin-bottom: 28px;
    padding-top: 12px;
    resize: none;
}
.reg-submit {
    width: 115%;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #e51283;
    border: 2px solid #e51283;
    text-transform: uppercase;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s;
}
.reg-submit:hover {
    color: #fff;
    background-color: #e51283;
}
.cross {
    position: absolute;
    top: 0;
    right: -36px;
    width: 21px;
    height: 21px;
    background-image: url(../assets/cross.png);
    cursor: pointer;
}
.cross:hover {
    transform: scale(1.1);
}
@media(max-width:1000px) {
    .nav-item:hover .tooltip-wrapper {
        display: none;  
    }
    .products,
    .education {
        height: 80%;
    }
}
@media(max-width:850px) {
    .section-news-inner {
        justify-content: space-around;
    }
    .news-card-container {
        margin: 0 10px;
        margin-bottom: 26px;
    }
}
@media(max-width:780px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 6;
    }
    .header-nav {
        width: 100%;
        height: 100vh;
        position: relative;
        left: -100vw;
        background-image: -moz-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
    }
    .nav-list {
        flex-direction: column; 
        height: 50%;
    }
    .burger-menu {
        display: flex;
    }
    .cross {
        right: 10px;
        top: 10px;
        filter: brightness(0.5);
    }
    .slide-text {
        display: none;
    }
    .slider-item {
        background-position: left;
    }
    .section-services-inner {
        flex-direction: column;
    }
    .services-wrapper {
        width: 100%;
    }
    .services-wrapper:first-child {
        margin-right: 0;
    }
    .services-wrapper:last-child {
        margin-left: 0;
    }
    .products,
    .education {
        height: 100%;
    }
    .section-table {
        display: none;
    }
    .tabs-body {
        flex-direction: column;
    }
    .tab-item-label {
        margin-bottom: 0;
        border: 1px solid #dddddd;
    }
     #tab-btn-2+.tab-item-label::before,
    #tab-btn-3+.tab-item-label::before {
        display: none;
    }
    .tabs-block {
        position: static;
    }
    #tab-btn-1:checked~#tab_1,
    #tab-btn-2:checked~#tab_2,
    #tab-btn-3:checked~#tab_3 {
        margin: 20px 0;
        position: static;
        width: 100%;
    }
    .social-list {
        display: block;
    }
    .fb-link, .vk-link, .inst-link {
      left: 0;
      top: 0;
    }
    .scroll-btn {
        width: 40px;
        height: 40px;
    }
}
@media(max-width:500px) {
    .section-services-inner {
        max-height: 500px;
    }
}