@font-face { 
    font-family: 'GothamPro'; 
    src: url('../fonts/GothamPro.eot'); 
    src: url('../fonts/GothamPro.eot?iefix') format('eot'),
         url('../fonts/GothamPro.woff') format('woff'), 
         url('../fonts/GothamPro.ttf')  format('truetype');
    font-weight: normal; 
    font-style: normal; 
  }
@font-face { 
    font-family: 'GothamPro'; 
    src: url('../fonts/GothamPro-Bold.eot'); 
    src: url('../fonts/GothamPro-Bold.eot?iefix') format('eot'),
         url('../fonts/GothamPro-Bold.woff') format('woff'), 
         url('../fonts/GothamPro-Bold.ttf')  format('truetype');
    font-weight: bold; 
    font-style: normal; 
  }
@font-face { 
    font-family: 'GothamPro'; 
    src: url('../fonts/GothamPro-Light.eot'); 
    src: url('../fonts/GothamPro-Light.eot?iefix') format('eot'),
         url('../fonts/GothamPro-Light.woff') format('woff'), 
         url('../fonts/GothamPro-Light.ttf')  format('truetype');
    font-weight: 300; 
    font-style: normal; 
  }
@font-face { 
    font-family: 'GothamPro'; 
    src: url('../fonts/GothamPro-Medium.eot'); 
    src: url('../fonts/GothamPro-Medium.eot?iefix') format('eot'),
         url('../fonts/GothamPro-Medium.woff') format('woff'), 
         url('../fonts/GothamPro-Medium.ttf')  format('truetype');
    font-weight: 500; 
    font-style: normal; 
  }
html {
  font-family: 'GothamPro';
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;  
}
a {
    text-decoration: none;
}
.container {
    width: 850px;
    height: 100%;
    padding: 0 3px;
    margin: 0 auto;
}
.header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        background-image: -moz-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(253,29,29) 0%, rgb(225,48,108) 0%, rgb(255,220,128) 0%, rgb(247,119,55) 0%, rgb(193,53,132) 0%, rgb(253,29,29) 0%, rgb(0,0,0) 0%, rgb(88,81,219) 0%, rgb(252,175,69) 0%, rgb(245,96,64) 0%, rgb(88,81,219) 0%, rgb(131,58,180) 50%, rgb(229,18,131) 100%);
}
.header-inner {
    width: 852px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-nav {
    width: 100%;
    line-height: 20px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item a{
    color: #ffffff;
    transition: all .3s;
}
.nav-item a:hover{
    color: #bebebe;
}
.nav-item {
    margin-right: 50px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}
.nav-item:last-child {
    margin-right: 0;
}
.search-btn {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../assets/magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid black; */
    border: 1px solid;
    border-color: #636083;
    border-radius: 50%;
    right: -88px;
}
.slider-wrapper {
    margin-bottom: 29px;
}
.slider{
    width: 100%;
    position: relative;
}
.slider-item {
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slick-prev,
.slick-next {
    position: absolute;
    width: 24px;
    height: 42px;
    font-size: 0;
    padding: 0;
    border: none;
    background: transparent;
    z-index: 5;
}
.slick-prev,
.slick-next {
    cursor: pointer;
}
.slick-prev {
    left: 22px;
    top: 242px;
}
.slick-next {
    right: 26px;
    top: 242px;
}
.slick-prev::before,
.slick-prev::after,
.slick-next::before,
.slick-next::after {
    content: '';
    width: 3px;
    height: 12px;
    position: absolute;
    background: #808080;
    border-radius: 2px;  
    z-index: 5;
    transition: all .3s;
}
.slick-prev:hover:before,
.slick-prev:hover::after,
.slick-next:hover::before,
.slick-next:hover::after{
    background: #000;
}
.slick-prev::before,
.slick-prev::after,
.slick-next::before,
.slick-next::after {
    top: 13px;
}
.slick-prev::before,
.slick-prev::after {
    left: 4px;
}
.slick-next::before,
.slick-next::after {
    right: 10px;
}
.slick-prev::before {
    transform: translate(7px, -4px) rotate(45deg)
}
.slick-prev::after {
    transform: translate(7px, 4px) rotate(-45deg)
}
.slick-next::before {
    transform: translate(0px, 4px) rotate(45deg)
}
.slick-next::after {
    transform: translate(0px, -4px) rotate(-45deg)
}
.slick-dots {
    margin-top: -48px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.slick-dots li {
    margin-right: 11px;
}
.slick-dots li:last-child {
    margin-right: 0;
}
.slick-dots li button{
    width: 14px;
    height: 14px;
    font-size: 0;
    padding: 0;
    border: none;
    background: transparent;
    z-index: 5;
    position: relative;
    cursor: pointer;
}
.slick-dots li button::before {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    border: 3px solid #7d7d7d;
    border-radius: 50%;
    z-index: 5;
    top: 0;
    left: 0;
    transition: all .3s;
}
.slick-dots li button:hover::before {
    border-color: #333333;
    background: #333333;
}
.slick-active button::before {
    background: #7d7d7d;
}
.slide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 134px;
}
.product-title,
.product {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
}
.product-title {
    font-weight: 500;
}
.product {
    font-weight: 300;
}
.details {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 38px;
    background: #333333;
    bottom: 132px;
    
}
.details p {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 500;
}
.footer {
    height: 60px;
}
.footer-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.footer-link {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    position: relative;
    box-sizing: border-box;
    letter-spacing: -0.5px;
}
.footer-link::before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.vk {
    background: #45668e;
    padding-left: 40px;    
}
.vk::before {
    background-image: url(../assets/vk.png);
    left: 35%;
    top: 37%;
}
.fb {
    background: #3b5998;
    padding-left: 16px;
}
.fb::before {
    background-image: url(../assets/fb.png);
    left: 36%;
    top: 27%;;
}
.inst {
    background: -webkit-linear-gradient(180deg, rgb(88, 81, 219), rgb(229, 18, 131));
    padding-left: 52px;
}
.inst::before {
    background-image: url(../assets/inst.png);
    left: 38%;
    top: 30%;
    width: 24px;   
}
